[submodule "src/vendor/symfony"]
	path = src/vendor/symfony
	url = git://github.com/fabpot/symfony.git
[submodule "src/vendor/zend"]
	path = src/vendor/zend
	url = git://github.com/zendframework/zf2.git
[submodule "src/vendor/twig"]
	path = src/vendor/twig
	url = git://github.com/fabpot/Twig.git
