<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title%}Home{% endblock %} | Symfony2 CMF</title>

        {% stylesheet 'css/style.css' %}
        {% stylesheets %}
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <h1 id="logo-text"><a href="{% path "homepage" %}">Symfony2 CMF</a></h1>
                <p id="slogan">Symfony2 Content Management Framework</p>

                <div id="top-menu">
                    <p><a href="http://www.symfony.com" target="_BLANK">Symfony2</a> + <a href="http://www.doctrine-project.org/projects/orm/2.0/docs/en" target="_BLANK">Doctrine2</a></p>
                </div>
            </div>

            {% render "FrontendBundle:Main:navigation" %}

            <div id="content">
                <div id="main">
                    {% block body %}{% endblock %}
                </div>
            </div>

            <div id="footer"></div>
        </div>
        {% javascripts %}
    </body>
</html>
