{% extends "CmfMainBundle::layout.html.twig" %}

{% block title %}{{ cmfMainContent.title }}{% endblock %}
{% block content %}

<div property="sioc:content">
    {{ cmfMainContent.body|raw }}
</div>

{% endblock %}