{% extends "FrontendBundle::layout.html.twig" %}
{% block title %}About{% endblock %}

{% block body %}
    <h2>About</h2>

    <p>
    The <a href="http://symfony.com">Symfony2</a> Content Management
    Framework project was started by a large group of Symfony developers looking
    to get an early start on collaborating together for the next generation
    of PHP Content Management Systems built on top of Symfony2. Several companies
    and developers have dedicated themselves to the project. Some of the companies
    can be found below. Please feel invited to join the effort with or without
    the backing of a company behind you:
    </p>

    <h2>Sponsors</h2>

    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Location</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>theGOOD</td>
                <td>Portland, OR USA</td>
                <td>Kris Wallsmith</td>
            </tr>
            <tr>
                <td>knpLabs</td>
                <td>Nantes, France</td>
                <td>Thibault Duplessis, Matthieu Bontemps, Antoine Hérault</td>
            </tr>
            <tr>
                <td>Devorigin</td>
                <td>Le Mans, France</td>
                <td>Vincent Jousse</td>
            </tr>
            <tr>
                <td>Pixel Fusion</td>
                <td>Auckland, NZ</td>
                <td>Keri Henare</td>
            </tr>
            <tr>
                <td>Iostudio</td>
                <td>Nashville, TN USA</td>
                <td>Ryan Weaver</td>
            </tr>
            <tr>
                <td>Liip AG</td>
                <td>Switzerland</td>
                <td>Lukas, Jordi, Ebi, David, Chregu</td>
            </tr>
            <tr>
                <td>Sensio Labs</td>
                <td>Paris, France | Nashville, TN USA</td>
                <td>Jonathan H. Wage, Fabien Potencier</td>
            </tr>
            <tr>
                <td>ServerGrove</td>
                <td>Miami, Florida</td>
                <td>Pablo Godel</td>
            </tr>
        </tbody>
    </table>

    <h2>Resources/Links</h2>

    <ul>
        <li><strong>GitHub</strong>: https://github.com/symfony-cmf/symfony-cmf</li>
        <li><strong>Website</strong>: http://cmf.symfony-project.org/
        <li><strong>Wiki</strong>: http://wiki.github.com/symfony-cmf/symfony-cmf/</li>
        <li><strong>Issue Tracker</strong>: http://cmf.symfony-project.org/redmine/</li>
        <li><strong>IRC</strong>: #symfony-cmf @ irc.freenode.org</li>
        <li><strong>Users mailing list</strong>: http://groups.google.com/group/symfony-cmf-users</li>
        <li><strong>Devs mailing list</strong>: http://groups.google.com/group/symfony-cmf-devs</li>
    </ul>
{% endblock %}