{% extends "FrontendBundle::layout.html.twig" %}
{% block title %}About{% endblock %}

{% block body %}
    <h2>About</h2>

    <p>
    The <a href="http://symfony.com">Symfony2</a> Content Management
    Framework project was started by a large group of Symfony developers looking
    to get an early start on collaborating together for the next generation
    of PHP Content Management Systems built on top of Symfony2. Several companies
    and developers have dedicated themselves to the project. Some of the companies
    can be found below. Please feel invited to join the effort with or without
    the backing of a company behind you:
    </p>

    <h2>Sponsors</h2>

    <table>
        <thead>
            <tr>
                <th>Company</th>
                <th>Location</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="http://ideato.it/">Ideato</a></td>
                <td>Italy</td>
                <td>Jacopo, Michele</td>
            </tr>
            <tr>
                <td><a href="http://liip.ch/">Liip AG</a></td>
                <td>Switzerland</td>
                <td>Lukas, Ebi, David, Dan, Brian, Chregu, Alain</td>
            </tr>
            <tr>
                <td><a href="http://sensiolabs.com/">Sensio Labs</a></td>
                <td>Paris, France</td>
                <td>Fabien Potencier</td>
            </tr>
            <tr>
                <td><a href="http://servergrove.com/">ServerGrove</a></td>
                <td>Miami, Florida</td>
                <td>Pablo Godel</td>
            </tr>
            <tr>
                <td><a href="http://coddict.com/">Coddict</a></td>
                <td>Montreal, Canada | Beirut, Lebanon</td>
                <td>Frederic Haddad, Dany Moussa</td>
            </tr>
        </tbody>
    </table>

    <h2>Resources/Links</h2>

    <ul>
        <li><strong>GitHub</strong>: <a href="https://github.com/symfony-cmf/symfony-cmf">https://github.com/symfony-cmf/symfony-cmf</a></li>
        <li><strong>Website</strong>: <a href="http://cmf.symfony-project.org/">http://cmf.symfony-project.org/</a></li>
        <li><strong>Wiki</strong>: <a href="http://wiki.github.com/symfony-cmf/symfony-cmf/">http://wiki.github.com/symfony-cmf/symfony-cmf/</a></li>
        <li><strong>Issue Tracker</strong>: <a href="http://github.com/symfony-cmf/symfony-cmf/issues">http://github.com/symfony-cmf/symfony-cmf/issues</a></li>
        <li><strong>IRC</strong>: <a href="irc://freenode/#symfony-cmf">#symfony-cmf @ irc.freenode.org</a></li>
        <li><strong>Users mailing list</strong>: <a href="http://groups.google.com/group/symfony-cmf-users">http://groups.google.com/group/symfony-cmf-users</a></li>
        <li><strong>Devs mailing list</strong>: <a href="http://groups.google.com/group/symfony-cmf-devs">http://groups.google.com/group/symfony-cmf-devs</a></li>
    </ul>
{% endblock %}
