{% extends "FrontendBundle::layout.html.twig" %}
{% block title %}Get started{% endblock %}

{% block body %}
    <h2>Get started</h2>

    <p>Want to get started with the project? The best way to get your feet wet is to install the sandbox.
    It shows how far the project has come already and what is already possible today!</p>

    <ol>
        <li>
            Clone <a href="https://github.com/symfony-cmf/cmf-sandbox">cmf-sandbox</a>
            and follow the instructions in the
            <a href="https://github.com/symfony-cmf/cmf-sandbox/blob/master/README.md">README.md</a>.
            This will give you the same code as featured in our <a href="http://cmf.liip.ch">live demo</a>.
        </li>
        <li>
            If you have any trouble please contact us in our <a href="irc://freenode/#symfony-cmf">IRC channel</a>.
            There is almost always someone around happy to help you get started!
        </li>
    </ol>
{% endblock %}