{% extends "FrontendBundle::layout.html.twig" %}

{% block body %}
    <h2>The Symfony CMF Project</h2>

    <p>
        Welcome to the home of the <a href="http://symfony.com">Symfony2</a>
        Content Management Framework. The project is organized by the Symfony
        community and has several sponsoring companies and prominent open
        source leaders. You can read learn more about the project on the
        <a href="{{ path('about') }}">about</a> page.
    </p>

    <h2>Mission Statement</h2>
    <p>
        The Symfony CMF project makes it easier for <strong>developers</strong>
        to add <strong>CMS functionality</strong> to applications built with
        the <strong>Symfony2 PHP</strong> framework. Key development principles
        for the provided <strong>set of bundles</strong> are <strong>scalability</strong>,
        <strong>usability</strong>, <strong>documentation</strong> and
        <strong>testing</strong>.
    </p>

    <h2>Slides</h2>
    <ul>
        <li><a href="./slides/why_symfony_cmf.html">Why Symfony2 CMF?</a></li>
        <li><a href="./slides/bigpicture.html">The big picture</a></li>
        <li><a href="http://phpcr.github.com/slides.html">PHPCR</a></li>
        <li><a href="http://phpcr.github.com/slides-odm.html">PHPCR ODM</a></li>
        <li><a href="./slides/routingandmenu.html">Routing and Menu</a></li>
    </ul>

    <h2>Documentation</h2>
    <ul>
        <li><a href="http://symfony-cmf.readthedocs.org">Symfony CMF docs</a></li>
        <li><a href="https://github.com/symfony-cmf/symfony-cmf/wiki">Symfony CMF wiki</a></li>
        <li><a href="http://docs.doctrine-project.org/projects/doctrine-phpcr-odm/en/latest/">PHPCR ODM</a></li>
    </ul>

    <h2>Bundles</h2>
    <ul>
        <li><a href="https://github.com/symfony-cmf/RoutingExtraBundle">RoutingExtraBundle</a> (adds dynamic routing)</li>
        <li><a href="https://github.com/symfony-cmf/SimpleCmsBundle">SimpleCmsBundle</a> (simple CMS on top of the CMF)</li>
        <li><a href="https://github.com/symfony-cmf/CoreBundle">CoreBundle</a> (provides some common helpers for content rendering)</li>
        <li><a href="https://github.com/symfony-cmf/ContentBundle">ContentBundle</a> (provides basic classes for defining content)</li>
        <li><a href="https://github.com/symfony-cmf/MultilangContentBundle">MultilangContentBundle</a> (adds i18n capabilities)</li>
        <li><a href="https://github.com/symfony-cmf/MenuBundle">MenuBundle</a> (integrates PHPCR with KnpMenuBundle)</li>
        <li><a href="https://github.com/symfony-cmf/BlockBundle">BlockBundle</a> (integrates PHPCR with SonataBlockBundle)</li>
        <li><a href="https://github.com/sonata-project/SonataDoctrinePhpcrAdminBundle">SonataDoctrinePhpcrAdminBundle</a> (integrates PHPCR with SonataAdminBundle)</li>
        <li><a href="https://github.com/symfony-cmf/TreeBrowserBundle">TreeBrowserBundle</a> (adds a javascript UI to browse PHPCR content repositories)</li>
        <li><a href="https://github.com/symfony-cmf/SearchBundle">SearchBundle</a> (adds site-wide search, WIP)</li>
    </ul>

    <h2>Links</h2>
    <ul>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a href="{{ path('get_involved') }}">Get Involved</a></li>
        <li><a href="http://wiki.github.com/symfony-cmf/symfony-cmf">Wiki</a></li>
        <li><a href="https://github.com/symfony-cmf/symfony-cmf/wiki/Roadmap">Roadmap</a></li>
    </ul>
{% endblock %}
