{% extends "CmfSimpleCmsBundle:Page:index.html.twig" %}

{% block content %}
    <div property="sioc:content">
        {{ cmfMainContent.body|raw }}
    </div>
{% endblock %}

{% block sidebar %}
    {{ sonata_block_render({ 'name': '/cms/content/talks' }, {
        maxItems: 10
    }) }}
{% endblock %}